*.exe
a.out
*.o
*.S
*.i
*.tmp
*.log
*.zip
*.txt
.*.sh
.clang-tidy
rcc
actual.txt
fred.txt
err.log
tmp*.c
101_cleanup.md
tcc_tests
tcc_test_report.md
amazon_bug_bounty/
tinycc/tests/tests2/03_struct.expect
